<% if Helpers.is_logged_in?(session) %>
<%t=Time.now %>
  <H1>Hello <%= @student.name %></H1>
  <br />
  <p>
    Today is <%=t.strftime("%A") %>, <%= t.strftime("%B") %> <%= t.strftime("%w") %>, <%= t.strftime("%Y") %> <br />
  </p>

<form method="post" action="/students/<%= @student.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h2>Check off the subjects you completed today:</h2>
      <br />

      <%Subject.all.each do |subject| %>

        <input id="<%= subject.name %>" type="checkbox" name="subjects[]" value='<%= subject.name %>' <%='checked' if @student.subjects.include?(subject) %>><%=subject.name%> </input>
          <br />
      <%end %>
              <br /><br />

  <h2>Check off the instruments you practiced today:</h2>
      <br />
      <%Instrument.all.each do |instrument| %>
        <input id="<%= instrument.name %>" type="checkbox" name="instruments[]" value="<%= instrument.name %>" <%='checked' if @student.instruments.include?(instrument) %>><%=instrument.name%> </input>
        <br />
      <%end %>
    <br /><br />
    <input type="submit" name="Submit Coursework" value="Submit Coursework" />
</form>
<br /><br />
  <form method="get" action='/students/logout'>
    <input type='submit' id='signout' value='Sign Out' name='signout' />
  </form>
  <a href='/students/show'>Head to display page without making changes.</a>
<%end %>
