<h1>Hello <%= @teacher.name %></h1>

<table style="width:100%">
  <tr>
    <th>Your student list:</th>
    <th>Add students:</th>
  </tr>
  <tr>
    <td>
      <%@teacher.students.each do |s| %>
        <input id="<%= s.name %>" type="checkbox" name="students[]"
         value='<%= student.name %>' <%='checked' %>><%=student.name%>
        </input>
      <%end %>
    </td>
    <td>
      <%Student.all.each do |s| %>
        <%if !@teacher.students.include?(s) %>
        <%= s.name %>
        <%end %>
      <%end %>
    </td>
  </tr>
</table>

<br /><br />
<form method="get" action='/teachers/logout'>
  <input type='submit' id='signout' value='Sign Out' name='signout' />
</form>

<br />
<form method="get" action="/teachers/<%=@teacher.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" name="delete" value="Want to delete your account?">
</form>
