<h1>Hello <%= @teacher.name %></h1>

<h3>Your student list:</h3>
 <%if @teacher.students.empty? %>
    <p>  No current students</p>
  <%end %>
  <%@teacher.students.each do |s| %>
    <input id="<%= s.name %>" type="checkbox" name="students[]"
     value='<%= student.name %>' <%='checked' %>><%=student.name%>
   </input>
   <br />
<%end %>

<h3>Add students:</h3>
  <%Student.all.each do |s| %>
    <%if !@teacher.students.include?(s) %>
      <input id="<%= s.name %>" type="checkbox" name="students_new[]"
       value='<%= s.name %>' <%='checked' %>><%=s.name%>
        <br />
    <%end %>
  <%end %>


<br /><br />
<form method="get" action='/teachers/logout'>
  <input type='submit' id='signout' value='Sign Out' name='signout' />
</form>

<br />
<form method="get" action="/teachers/<%=@teacher.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" name="delete" value="Want to delete your account?">
</form>
