<h1>Hello <%= @teacher.name %></h1>

<h3>Your student list:</h3>
<%@teacher.students.each do |s| %>
  <input id="<%= s.name %>" type="checkbox" name="students[]"
   value='<%= student.name %>' <%='checked' %>><%=student.name%>
  </input>
<%end %>

<h3>Add students:</h3>
<%Student.all.each do |s| %>
  <ul>
    <li>
      <%if !@teacher.students.include?(s) %>
      <%= s.name %>
      <%end %>
    </li>
  </ul>
<%end %>


<form method="get" action='/teachers/logout'>
  <input type='submit' id='signout' value='Sign Out' name='signout' />
</form>

<br />
<form method="get" action="/teachers/<%=@teacher.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" name="delete" value="Want to delete your account?">
</form>
