<h2>Current subject and instruments</h2>

<form method="post" action="/teachers/edit_assignments">
  <input id="hidden" type="hidden" name="_method" value="patch">

<h2>Current subjects</h2>
<h6>Need to delete something? Check the box and it will be removed.</h6><br />
<%Subject.all.each do |subject| %>
  <ul>
    <li> <input id="<%= subject.name %>" type="checkbox" name="subjects[]" value="<%= subject.name %>" ><%=subject.name%> </input></li>
  </ul>
<%end %>
        <br />
<label>Add new subjects here:</label>
<input id="new_subject" type="text" name="new_subject[]" >
<input id="new_subject" type="text" name="new_subject[]" >
<input id="new_subject" type="text" name="new_subject[]" >


    <br />

<h2>Current Instruments:</h2>
<h6>To remove an instrument, check the box.</h6><br />
<%Instrument.all.each do |instrument| %>
  <ul>
      <li> <input id="<%= instrument.name %>" type="checkbox" name="instruments[]" value="<%= instrument.name %>" ><%=instrument.name%> </input></li>
  </ul>
<%end %>
<br />
<label>Add new instruments here:</label>
<input id="new_instrument" type="text" name="new_instrument[]" >
<input id="new_instrument" type="text" name="new_instrument[]" >

<br /><br />
<input id="edit_assignment" type="submit" name="edit_assignment" value="Update assignments">
</form>
<br />

<form method="get" action="/teachers/display_assignments">
  <input id="display_assignment" type="submit" name="display_assignment" value="Return to view without editing">
</form>
<br />

<form method="get" action="/teachers/show">
  <input id="display_assignment" type="submit" name="display_assignment" value="Return to my homepage">
</form>
