    <H1>Hello <%=@teacher.name %></H1>
    <h6>  (if not <%=@teacher.name %> <a href="/" > click here.)</a> </h6>
    <br />
    <p>
      <%t=Time.now %>
      Today is <%=t.strftime("%A") %>, <%= t.strftime("%B") %> <%= t.strftime("%w") %>, <%= t.strftime("%Y") %> <br />
    </p>

    <%if @teacher.students.empty? %>
        <p>
          You do not have any students. <a href= "/teachers/<%=@teacher.id%>/edit" /> <br /><br />Visit Edit</a> page to add students and/or make changes to subjects and instruments
        </p>

      <%else %>
        <% @teacher.students.each do |s| %>
          <h2> <a href='../../teachers/<%= s.id %>/show_student'><%= s.name %></a> </h2> <br />
            <h4>Subjects Completed</h4> <br />
                <%s.subjects.each do |t| %>
                  <p>
                    <%= t.name %>   <br
                  </p>
                <%end %> <br />

            <h4>Instruments Practiced</h4> <br />
                <%s.instruments.each do |t| %>
                  <p>
                    <%= t.name %>   <br
                  </p>
                <%end %> <br /><br />
        <%end %>
    <%end %>
  <%end %>

<form method=get action='/teachers/edit_assignments'>
  <input type="submit" id='edit_assignments' value="Edit Subjects and Instruments" name="edit_assignments" />
</form>
<br />

  <form method="get" action='/teachers/logout'>
    <input type='submit' id='signout' value='Sign Out' name='signout' />
  </form>
<br />
  <form method="get" action="/teachers/<%=@teacher.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="delete" type="submit" name="delete" value="Want to delete your account?">
  </form>
