
  <% if !Helpers.is_logged_in?(session) %>
    <h4>I think you are in the wrong place</h4>
    <a href='/'>Return to homepage</a>

  <% elsif Helpers.is_logged_in?(session) %>
    <H1>Hello <%=@teacher.name %></H1>
    <br />
    <p>
      <%t=Time.now %>
      Today is <%=t.strftime("%A") %>, <%= t.strftime("%B") %> <%= t.strftime("%w") %>, <%= t.strftime("%Y") %> <br />
    </p>

    <%if @teacher.students.empty? %>
        <p>
          You do not have any students. <a href="/teachers/<%= @teacher.id%>/edit %>"><br /><br />Visit Edit</a> page to add students and/or make changes to subjects and instruments
        </p>

      <%else %>
        <% @teacher.students.each do |s| %>
          <h3><%= s.name %></h3> <br />
            <h4>Subjects Completed</h4> <br />
                <%s.subjects.each do |t| %>
                  <p>
                    <%= t.name %>   <br
                  </p>
                <%end %> <br />
          <%end %>
            <h4>Instruments Practiced</h4> <br />
                <%s.instruments.each do |t| %>
                  <p>
                    <%= t.name %>   <br
                  </p>
                <%end %> <br /><br />
        <%end %>
  <%end %>


<br /><br /><br />
  <form method="get" action='/teachers/logout'>
    <input type='submit' id='signout' value='Sign Out' name='signout' />
  </form>
